body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: #212121;
    background-image: url("urface.png");
    color: #000000;
    padding: 3px;
}

#main {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-spacing: 5px;
    background-color: #ffffff;
}

.whitearea {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
}

#title {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #ffffff;
    font-size: 50px;
}

nav#nav-main {
    background-color: #454545;
}

ul#menu {
    padding: 0;
    margin-bottom: 11px;
    background-color: #363636;
    padding: 10px 0px;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: #363636;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

ul#menu li a:hover {
    color: white;
    background-color: #454545;
}

ul#menu li {
    background-color: #404040;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #0285d1;
    text-decoration: none;
}